* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: red;
  width: 50px;
}

.nav .navlist {
  background-color: blue;
}
